
<ul id="timeline">
    <li class="listing clearfix">
        <div class="info">
            <span class="job_title"> <%= job.company %>  is hiring a <%= job.title %> in <%= job.location %></span>
            
            <br>Job Posted <%= job.created_at.to_formatted_s(:long)%></span><br>
             <%= link_to "Apply for Job", job.url %>
        </div>
    </li>
</ul>







     
   
  

  
       



