<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @job.description %>
</p>

<p>
  <strong>Apply:</strong>
  <%= @job.apply %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @job.availability %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p class="text-muted">
  Job Posted on <%= @job.created_at.to_formatted_s(:long) %>
</p>


