<!DOCTYPE html>
<html>
<head>
  <title>SEO JOBS | Your Job Finder</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content='Job Search Simplified'>
  <meta name="author" content="Neil Patel">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>


  <div class="border"></div>

<% if alert %>
  <div id="notice_wrapper" %>
    <p class="alert"><%= alert %></p>
  </div>
<% elsif notice %>
  <div id="notice_wrapper" %>
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

  <%= render "layouts/header" %>
  <div class="container">
    <%= yield %>
  </div>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('#notice_wrapper').fadeOut("slow", function() {
       $this.removal();
      });
  }, 1500 );
});
</script>

</body>
</html>
